@import '../../../assets/styles/colors';
@import '../../../assets/styles/mixins';

.footer {
    position: static;
    left: 0;
    bottom: 0;
    background-color: $grey;
    padding: 1rem;
    margin-top: 60px;    
    &__wrapper {
        @include maxContainerWidth;
        margin: 0 auto;
        &__text {
            text-align: end;
        }
    }
}