@import '../../../assets/styles/colors';
@import '../../../assets/styles/mixins';

.card-component {
    @include maxContainerWidth;
    background-color: $grey;
    margin: 20px 0;
    padding: 16px 20px;
    border-radius: 18px;
    transition: transform .1s;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "title description description status amount"	
    ;
    align-items: center;

    span {
        justify-self: center;
        font-size: 1.3rem;
        min-width: 182px;
        text-align: center;
    }

    &__title {
        font-weight: 500;
        grid-area: title;
        @media(max-width: 720px) {
            font-size: 1.5rem;
            justify-self: start;
        }
    }

    &__description {
        grid-area: description;
    }

    &__status {
        grid-area: status;
    }

    &__amount {
        grid-area: amount;
    }

    &:hover {
        transform: translateY(-10px);
        background-color: $black-300;
        color: $orange;
    }

    @media(max-width: 720px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 150px;
        grid-template-areas:
        "title title"
        "description description"	
        "amount status";

        span {
            min-width: unset;
        }

    }
}