<ng-container *ngIf="modalProperties.isOpen">
    <section  class="modal-component">
        <article class="modal-component__wrapper">
            <button 
            class="modal-component__wrapper__close-button" 
            id="close" 
            type="button" 
            (click)="closeModal()"
            title="fechar modal"
            >
                &#x2715;
            </button>

            <h1 class="modal-component__wrapper__title">{{ modalProperties.title }}</h1>
            <app-progress-bar [progressBarState]="modalProperties.status"></app-progress-bar>
            <app-description-transaction [transactionInfo]="fromData(modalProperties)"></app-description-transaction>
            <app-description-transaction [transactionInfo]="toData(modalProperties)"></app-description-transaction>
        </article>
    </section>
</ng-container>